body {
  font: 300px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color:#815438;
}

title {
  font: 500px "Century Gothic", Futura, sans-serif;
  margin: 50px;
}
font {
  font: 20px "Century Gothic", Futura, sans-serif;
  color: blue;
  position:absolute;
  top: 410px;
}

#text{
  position:absolute;
  top:410px;
  
}

#board {
    position: relative;
}

#newgame-btn{
  background-color: #4CAF50;
  position:absolute;
  top:450px;
}

#pass-btn{
  background-color: #4CAF50;
  position:absolute;
  top:500px;
  left: 20%;
}



#aboutme{
  background-color: #4CAF50;
  position:absolute;
  top:450px;
  right:80%;
}

.intersection {
    width: 20px;
    height:20px;
    border-radius: 18px;
    position: absolute;
    box-sizing: border-box;
}
.intersection:hover {
background-color: #000;
}
.intersection.conditional {
    width: 20px;
    height:20px;
    border-radius: 18px;
    position: absolute;
    box-sizing: border-box;
}
.intersection.conditional:hover {
background-color: #eee;
}

.intersection:before {
    border-top: 2px #000 solid;
    width: 20px;
    display: block;
    content: "";
    top: 8px;
    position: absolute;
    z-index: -1;
}

.intersection:after {
    border-left: 2px #000 solid;
    height: 20px;
    display: block;
    content: "";
    left: 8px;
    top: 0px;
    position: absolute;
    z-index: -1;
}

.intersection.bp{

background-color:purple;
}

.magic_point_class {
  
border-radius:-2px;
background-color: #444;
border-bottom-right-radius: 85%;
border-bottom-left-radius: 85%;
border-top-left-radius: 85%;
border-top-right-radius: 85%;

transform:rotate(45deg);
}

/*  
.intersection.bp{

border-radius:-2px;
background-color: #444;
border-bottom-right-radius: 85%;
border-bottom-left-radius: 85%;
border-top-left-radius: 85%;
border-top-right-radius: 85%;
z-index: 1;
opacity:75%;
}  */

/* 
.intersection.bp{

width:5px;
height:5px;
transform:rotate(45deg);
background-color:#000;
border-radius: 0;

}   */

.intersection.wp{
 background-color:yellow;
}

.intersection.np{
  width: 20px;
  height:20px;
  border-radius: 18px;
  position: absolute;
  box-sizing: border-box;

}

.intersection.black, .intersection.white {
    border-radius: 18px solid #000;
}

.intersection.black {
    background-color: #444;
}

.intersection.white {
    background-color: #eee;
}

.intersection.wib{
  background-color: gold;
}
.intersection.biw{
  background-color:hotpink;
}
.intersection.conditional.black, .intersection.conditional.white {
    border-radius: 18x solid #000;
}

.intersection.conditional.black {
    background-color: #444;
}

.intersection.conditional.white {
    background-color: #eee;
}

.status {
  margin-bottom: 10px;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}





/* #form { background: rgba(0, 0, 0, 0.15); padding: 0.25rem; position: absolute; bottom: 0; left: 0; right: 0; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); } */
/* #inputchat { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; position: absolute; bottom: 0; left: 0; right: 0; } */
#inputchat{ background: rgba(0, 0, 0, 0.15); padding: 0.25rem; position: absolute; bottom: 0; left: 0; right: 0; display: flex; height: 2rem; width: 94%; box-sizing: border-box; backdrop-filter: blur(10px);}
#inputchat:focus { outline: red; }

#formbutton { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; height: 2rem; outline: none; color: #fff; float: right; position: absolute; bottom:0%;left:94%;}

#messages { font: 30px "Century Gothic", Futura, sans-serif;list-style-type: none; margin: 5rem; padding: 1rem; overflow:auto; }
#messages > li {   position: relative;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #A8DDFD;
  width: 200px;
  height: 50px;
  text-align: left;
  font: 400 .9em 'Open Sans', sans-serif;
  border: 1px solid #97C6E3;
  border-radius: 10px; }
#messages > li:nth-child(odd) {   position: relative;
  margin-bottom: 5px;
  margin-left: calc(100% - 240px);
  padding: 10px;
  background-color: #f8e896;
  width: 200px;
  height: 50px;
  text-align: left;
  font: 400 .9em 'Open Sans', sans-serif;
  border: 1px solid #dfd087;
  border-radius: 10px;}




  #container{
    position:absolute;
    top:60%;
    margin-bottom: 25px;
    background: gray;
    height: 300px;
    left:0px;
    width: 100%;
    border: 1px solid #000;
    overflow:auto;
  }
